:root {
  --main-font: "IBM Plex mono", monospace;
  --page-padding: 10px;
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --main-title-color: #db00ff;
  --decor-title-color: #000028;
  --section-title-color: #ff0070;
  --decorated-zone-color: #ff0070;
  --button-hover-color: rgb(255 0 112 / 0.4);
}
